<div id="loading_block" ng-show="loading">
    <img id="loading_image" ng-src="../images/loading.gif">
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12">
        <h1>Forget Password</h1>
        <form ng-submit="this[forgetPasswordFormName].$valid && forgetPasswordFormSubmit()" name="{{forgetPasswordFormName}}" novalidate>
            <div class="form-group required" ng-form="{{emailFieldName}}" ng-class="{
                'has-success': {{emailFieldName}}.$valid && (!{{emailFieldName}}.$pristine || {{forgetPasswordFormName}}.$submitted),
                'has-error': {{emailFieldName}}.$invalid && (!{{emailFieldName}}.$pristine || {{forgetPasswordFormName}}.$submitted)
            }">
                <label for="{{emailFieldName}}">{{emailFieldName | label}}</label>
                <input type="text" placeholder="{{emailFieldName | label}}" class="form-control" name="{{emailFieldName}}" ng-model="user.email" required validate-email unique="false">
                <div class="error-messages" ng-messages="this[emailFieldName].$error" ng-show="
                    {{emailFieldName}}.$invalid && (!{{emailFieldName}}.$pristine || {{forgetPasswordFormName}}.$submitted)
                ">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
            <blockquote>
                <code>* Forget password information will send to your email</code>
            </blockquote>
            <button type="submit" class="btn btn-warning btn-lg btn-block" ng-disabled="
                ({{forgetPasswordFormName}}.$valid && {{forgetPasswordFormName}}.$submitted)
                ||
                {{forgetPasswordFormName}}.$pristine
                ||
                {{forgetPasswordFormName}}.$invalid
            ">
                Submit
            </button>
        </form>
    </div>
</div>
