<div class="row">
    <div class="col-md-offset-3 col-md-6 col-sm-12">
        <h1>Reset Password</h1>
        <form ng-submit="this[resetPasswordFormName].$valid && resetPasswordFormSubmit()" name="{{resetPasswordFormName}}" novalidate>
            <div class="form-group required" ng-form="{{passwordFieldName}}" ng-class="{
                'has-success': {{passwordFieldName}}.$valid && (!{{passwordFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted),
                'has-error': {{passwordFieldName}}.$invalid && (!{{passwordFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted)
            }">
                <label for="{{passwordFieldName}}">{{passwordFieldName | label}}</label>
                <input type="password" placeholder="{{passwordFieldName | label}}" class="form-control" name="{{passwordFieldName}}" ng-model="user.password" validate-password required>
                <div class="error-messages" ng-messages="this[passwordFieldName].$error" ng-show="
                    {{passwordFieldName}}.$invalid && (!{{passwordFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted)
                ">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
            <div class="form-group required" ng-form="{{newPasswordFieldName}}" ng-class="{
                'has-success': {{newPasswordFieldName}}.$valid && (!{{newPasswordFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted),
                'has-error': {{newPasswordFieldName}}.$invalid && (!{{newPasswordFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted)
            }">
                <label for="{{newPasswordFieldName}}">{{newPasswordFieldName | label}}</label>
                <input type="password" placeholder="{{newPasswordFieldName | label}} Length 6 ~ 12" class="form-control" name="{{newPasswordFieldName}}" ng-model="user.newPassword" required ng-maxlength="12" ng-minlength="6">
                <div class="error-messages" ng-messages="this[newPasswordFieldName].$error" ng-show="
                    {{newPasswordFieldName}}.$invalid && (!{{newPasswordFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted)
                ">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
            <div class="form-group required" ng-form="{{newPasswordConfirmationFieldName}}" ng-class="{
                'has-success':
                {{newPasswordConfirmationFieldName}}.$valid
                &&
                (!{{newPasswordConfirmationFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted),
                'has-error':
                {{newPasswordConfirmationFieldName}}.$invalid
                &&
                (!{{newPasswordConfirmationFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted)
            }">
                <label for="{{newPasswordConfirmationFieldName}}">{{newPasswordConfirmationFieldName | label}}</label>
                <input type="password" placeholder="{{newPasswordConfirmationFieldName | label}} Length 6 ~ 12" class="form-control" name="{{newPasswordConfirmationFieldName}}" ng-model="user.newPasswordConfirmation" required ng-maxlength="12" ng-minlength="6">
                <div class="error-messages" ng-messages="this[newPasswordConfirmationFieldName].$error" ng-show="
                    {{newPasswordConfirmationFieldName}}.$invalid
                    &&
                    (!{{newPasswordConfirmationFieldName}}.$pristine || {{resetPasswordFormName}}.$submitted)
                ">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block" ng-disabled="
                ({{resetPasswordFormName}}.$valid && {{resetPasswordFormName}}.$submitted)
                ||
                {{resetPasswordFormName}}.$pristine
                ||
                {{resetPasswordFormName}}.$invalid
            ">
                Submit
            </button>
        </form>
    </div>
</div>
